:root {
    --bg: rgb(47, 43, 53);
    --button: #392f49;
    --red-bg: rgba(255, 70, 70, 0.212);
    --blue-bg: rgba(75, 55, 255, 0.171);
    --rune-box: rgb(122, 121, 126);
}
@font-face {
    font-family: 'Pixelify Sans';
    src: url('./fonts/PixelifySans-Regular.woff2') format('woff2'),
    url('./fonts/PixelifySans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100vh;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 0.5fr auto 2fr;
    min-height: 100vh;
    font-family: Pixelify Sans, 'Courier New', Courier, monospace;
    align-items: center;
    gap: 2vw;
}
@media (width < 1200px) {
    body {
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.25fr 1fr 0.5fr;
        align-items: start;
    }
}
@media (width < 768px ) {
    body {
        grid-template-columns: 1fr;
        main {
            grid-column: 1/2;
        }
        nav {
            grid-column: 1/2;
        }
    }
}
@media (width < 500px) {
    body {
        grid-template-rows: 0.25fr 0.75fr 1fr
    }
    article#rune-box {
        div#rune1 {
            right: 20px 
        }
        div#rune5 {
            left: 20px;
        }
    }
}

div#bg-colorizer {
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1;
    transition: all 0.5s linear;
}
main {
    grid-column: 2/3;
    grid-row: 2/3;
    /* border: 1px solid purple; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr min-content;
    gap: 1vw;
    align-items: start;
    z-index: 5;
}

article#rune-box {
    --box: clamp(175px, 22vw, 350px);

    background-color: var(--rune-box);
    border: 2px solid #000;
    border-radius: 3px;
    height: var(--box);
    width: var(--box);
    justify-items: center;
    align-items: end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;

    #rune1 {
        grid-row: 1/2;
        grid-column:3/4;
        right: 30px;
    }
    #rune2 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    #rune3 {
        grid-row: 3/4;
        grid-column: 2/3;
        top: -5px;
    }
    #rune4 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    #rune5 {
        grid-row: 1/2;
        grid-column: 1/2;
        left: 30px;
    }
}

div.rune {
    /* background-image: url(./X.jpg); */
    position: relative;
    top: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    width: 90%;
}

@keyframes bob-around {
    0% {
        top: 0;
    }
    50% {
        top: 5%;
    }
    100% {
        top: 0;
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px #FFF;
    }
    50% {
        top: 5%;
    }
    100% {
        top: 0;
    }
}

div#windchime {
    grid-row: 1/-1;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    align-items: center;
    justify-self: center;
    animation: bob-around 3.5s infinite ease-in-out;
}
div#current-icon {
    --box: clamp(30px, 5vw, 100px);
    width: var(--box);
    height: var(--box);
    border-radius: 50%;
    /* background-image: url(./circle.jpg); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
div#windchime img {
    width: clamp(200px, 25vw, 425px);
    max-height: 100%;
}

@media (width < 350px) {
    div#windchime {
    align-self: center;
    }
}

div#picker {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: end;
    padding: 2vw;

    button {
        --box: calc(40px + 1vw);
        height: var(--box);
        width: var(--box);
        margin: 2px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
        border: none;
        border-radius: 8px;
    }
    button#X {
        background-image: url(./X.jpg);
    }
    button#triangle {
        background-image:url(./triangle.jpg)
    }
    button#diamond {
        background-image:url(./diamond.jpg)
    }
    button#T {
        background-image:url(./T.jpg)
    }
    button#circle {
        background-image:url(./circle.jpg)
    }
}

nav {
    grid-column: 2/3;
    grid-row: 3/5;
    justify-self: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    z-index: 5;
    button {
        border: 1px solid gray;
        margin-top: 0.25vw;
        background-color: var(--button);
        color: #FFF;
    }
    #restart {
        width: 100%;
    }
    div#mode-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

p#alert {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: clamp(2rem, 15vw, 5rem);
    z-index: 3;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-weight: bolder;
    text-shadow: -5px 10px 0px #000;
    transition: all 0.7s;
    opacity: 0;
    pointer-events: none;
}
p#alert.whoops {
    color: red;
    opacity: 1;
}
p#alert.great-success {
    color: rgb(80, 241, 40);
    opacity: 1;
}
aside#message-area {

}
p#message {
    color: #FFF;
}
div.glaive-wrapper {
    width: fit-content;
    height: fit-content;
}
img.glaive {
    --box: calc(40px + 1vw);
    position: absolute;
    height: var(--box);
    width: var(--box);
    z-index: 5;
    top: 0;
    left: 0;
    border: 5px groove #78ebffce;
    border-radius: 50%;
    transition: all linear;
    clip-path: circle(50%);
    animation: watch-out 0.7s linear infinite;
}
svg {
    fill: white;
}

@keyframes watch-out {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}